<div class="row mt3">

    <div class="col lg6">
        <br>
        <h3>Listado de Comentarios</h3>
        <br>
    </div>
 
    <div class="col lg6">
        <br>
        <button class="btn btn-primary float-end" routerLink="/add">
            Agregar comentario
            <br>
        </button>

    </div>
    <table *ngIf="listComentarios.length>0" class="table table-hover mt-3" >
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Texto</th>
            <th scope="col">FechaCreacion</th>
            <th scope="col">Operaciones</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comentario of listComentarios">
                <td>123</td>
                <td>{{comentario.titulo}}</td>
                <td>{{comentario.autor}}</td>
                <td>{{comentario.texto}}</td>
                <td>{{comentario.fechaCreacion | date: 'dd/mm/yyyy' }}</td>
                <td style="width: 5%">
                    <button class="btn btn-primary btn-sm float-end">Editar</button>
                </td>
                <td style="width: 5%">
                    <button class="btn btn-danger btn-sm float-end">Eliminar</button>
                </td>
            </tr> 
        </tbody>
    </table>

    <div *ngIf="listComentarios.length==0" class="row mt5">
        <h5>no hay ningun comentario</h5>
    </div>

</div>